 <li class="menu-inner">
    <div class="menu-des">
       <span class="menu-title">
        {{ content.field_menu_item_name.0}}
        </span>
        <span class="menu-border"></span>
        <span class="menu-price">{{ content.field_menu_pricing.0}}</span>
    </div>
    <p>{{ content.field_sub_menu_items.0}}</p>
</li>