<div class="item {{ content.field_active_class.0 }}">
    <div class="carousel-img">
          <img src="{{ file_url(content.field_service_listing_image['#items'].entity.uri.value) }}" class="img-responsive" alt="">
    </div>
    <div class="carousel-caption">
      <p> 
          {{ content.field_about_content.0 }}
      </p>
      <span>{{ content.field_testi_title.0 }}</span>
    </div>
</div>