<div class="col-md-4">
                <div class="services-inner border-right text-center">
                    <div class="services-img">
                        <img src="{{ file_url(content.field_service_listing_image['#items'].entity.uri.value) }}" class="img-responsive">
                    </div>
                    <div class="services-content">
                        <h3>{{ content.field_service_list_title.0 }}</h3>
                        <p>{{ content.field_service_list_.0 }}
                        </p>
                    </div>
                </div>
            </div>