<div class="col-md-3 col-sm-6">
	<div class="team-wrapper text-center">
	    <img src="{{ file_url(content.field_about_right_top_image['#items'].entity.uri.value) }}" class="img-responsive">
	    <h5>{{ content.field_testi_title.0 }}</h5>
	    <span>{{ content.field_page_title.0 }}</span>
	</div>
</div>