<!--opening year section start-->
<section class="opening-year"  style="background-image:url('{{ file_url(content.field_menu_item_image['#items'].entity.uri.value) }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="year text-center">
                    <h1>{{ content.field_testi_title.0 }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--opening year section end-->